{{!-- <section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Delivery Address</h2>
                    <hr>
                    <div>
                        <label for="">Address</label>
                        <input type="text" class="form-control" id="address" name="address">
                        <label for="">Pincode</label>
                        <input type="text" class="form-control" id="Pincode" name="pincode">
                        <label for="">Mobile</label>
                        <input type="text" class="form-control" id="mobile" name="mobile">
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5> Total Amount :Rs {{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment Method</p>
                            <label class="radio-inline">
                                <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="Onine">Online Method
                            </label>
                            <hr>
                            <button class="btn btn-primary" class="float-right" type="submit" href="/success">
                                Checkout</button>


                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>
</section> --}}

    
        <form action="" id="checkout-form">
            <div class="row">
            <div class="col-md-6">
                
                <div class="login-details" style="margin-top: 75px;">
                    

                        <h2>Enter Delivery Address</h2>
                        <label>
                            <input type="text" class="form-control" placeholder="Address" id="address" name="address" />
                        </label>
                        <label>
                            <input type="text" placeholder="Pincode" class="form-control" id="Pincode" name="pincode" />
                        </label>
                        <label>
                            <input type="text" placeholder="Mobile" class="form-control" id="mobile"
                                name="mobile" />
                        </label>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                </div>
            </div>
            <div class="col-md-6" style="float: right;">
                
                <div class="login-details" style="margin-top: 75px;">
                <div class="checkout">
                    
                    <div class="payment">
                        <p><strong> Payment Method </strong></p>
                        <label class="radio-inline">
                            <input type="radio" name="payment-method" value="COD" checked>COD
                        </label>
                        <label class="radio-inline mt-2">
                            <input type="radio" name="payment-method" value="Onine">Online Method
                        </label>
                        <hr>
                        <h5><strong> Total Amount :Rs {{total}}</strong></h5>
                        <hr>
                        <button class="btn btn-primary"  type="submit" href="/success">
                           <strong>Checkout</strong> </button>


                    </div>
                </div>
            
                </div>

            </div>


</div>
    </form>
   







<script>
    $("#checkout-form").submit((e) => {
        console.log('reached')
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    location.href = '/success'
                } else {
                    console.log('reeech')
                    razorpayPayement(response)

                }
            }
        })
    })

    function razorpayPayement(order) {
        var options = {
            "key": "rzp_test_iBeDSy62rAnOC2", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Bibin",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
        

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {

        console.log('check');
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status == true) {
                    location.href = '/success'
                } else {
                    alert('failed')
                }
            }
        })
    }
</script>

{{!-- <style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }

    .payment {
        padding-bottom: 16px;
    }
</style> --}}
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

  

    .payment {
        padding-bottom: 16px;
    }
    .wrapper::after {
        clear: both;
    }

    .wrapper::before,
    .wrapper::after {
        content: " ";
        display: table;
    }

    *::after,
    *::before {
        box-sizing: border-box;
    }

    .dark-header {
        background: #f2f0f1 none repeat scroll 0 0;
    }

    .wrapper {
        min-height: 100%;
        overflow: hidden;
        position: relative;
    }

    a,
    a:hover {
        text-decoration: none;
        color: #E2615C;
        transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out 0s;
    }

    input,
    button {
        transition: all 0.2s ease-in-out 0s;
        -webkit-transition: all 0.2s ease-in-out 0s;
    }

    .btn-grps .pink-btn:hover {
        background: #fff none repeat scroll 0 0 !important;
        color: #303030 !important;
    }

    .btn-grps {
        margin-right: 15px;
        margin-top: 19px;
    }

    .pink-btn {
        background: #e2615c none repeat scroll 0 0;
        border: medium none;
        border-radius: 2px;
        box-shadow: 0 2px 0 #b2534f;
        color: rgb(217, 245, 181);
        font-size: 18px;
        height: 48px;
        padding: 0 35px;
    }

    .btn-grps .dark-btn {
        background: #565656 none repeat scroll 0 0;
        box-shadow: 0 2px 0 #4b4b4b;
    }

    .btn-grps .pink-btn {
        display: inline-block;
        height: 51px;
        line-height: 51px;
        margin-left: 17px;
    }

    .logo {
        float: left;
        font-size: 25px;
        font-weight: 600;
        margin-left: 15px;
        margin-top: 24px;
    }





    /* Login Page */
    .dark-header {
        background: #e3f0ba;
    }

    .dark-header header {
        background: #303030;
        position: absolute;
        width: 100%;
    }

    .btn-grps .pink-btn {
        height: 51px;
        display: inline-block;
        line-height: 51px;
        margin-left: 17px;
    }

    .btn-grps .pink-btn:hover {
        background: rgb(229, 236, 187) !important;
        color: #303030 !important;
    }

    .btn-grps .dark-btn {
        background: #565656;
        box-shadow: 0 2px 0 #4b4b4b;
    }

    .btn-grps {
        margin-top: 13px;
        margin-right: 15px;
    }

    .login-middle {
        vertical-align: middle;
        display: table-cell;
        height: 100vh;
    }

    .login-details label {
        width: 100%;
        margin-bottom: 20px;
    }

    input:focus,
    input:hover {
        outline: none;
    }

    .login-details input[type="text"],
    .login-details input[type="password"] {
        width: 100%;
        padding-left: 10px;
        background: #f4f4f4;
        height: 40px;
        border: 1px solid #d5d5d5;
        border-radius: 5px;
        font-weight: 600;
    }

    .login-details h2 {
        font-size: 25px;
        margin: 0;
        padding-bottom: 30px;
    }

    .login-details span {
        margin-left: 15px;
        vertical-align: top;
        font-weight: 400;
        font-size: 14px;
    }

    .btn-sub span a,
    .btn-sub span a:hover {
        color: #000;
        font-size: 15px;
    }

    .btn-sub button {
        border-bottom: 2px solid #b2534f;
        box-shadow: none;
        border-radius: 3px;
        width: 145px;
    }

    .btn-sub button:hover {
        background: #b2534f;
        border-radius: 3px;
        box-shadow: none;
    }

    .login-details {
        margin: 0 auto;
        background: #fff;
        padding: 35px;
        border-radius: 7px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    }

    .login-inner {
        height: 100%;
        display: table;
        width: 100%;
    }

    .btn-sub span {
        margin-left: 25px;
    }


    @media (max-width:767px) {

        /*KK*/
        .login-middle {
            display: block;
            height: auto;
            padding: 15px;
        }

        .dark-header header {
            position: relative;
        }

        .btn-grps .pink-btn {
            height: 35px;
            display: inline-block;
            line-height: 35px;
            margin-left: 15px;
            max-width: 200px;
            display: block;
            text-align: center;
            margin: 0px auto 13px
        }

        .btn-grps {
            float: left !Important;
            width: 100%;
        }

        .btn-sub span {
            text-align: left;
            display: block;
            margin-left: 0;
            margin-top: 15px;
        }
    }
</style>